<!DOCTYPE html>
<html>
  <head>
    <title>URL shortener</title>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit">
    </form>
  </body>
</html>
