{% extends 'base.html' %}

{% block title %} Another title {{block.super}} {% endblock %}

{% block content %}
    {% for name in names %}
    <h1>{{forloop.counter}} <i>{{greeting}}</i> <b>{{name}}</b></h1>
    {% endfor %}
{% endblock %}
